:root {
    --black: #111029;
    --purple: #4C40F7;
    --green: #A4D677;
    --yellow: #F8D457;
    --pink: #FFBDBD;
    --blue: #7894FF;
    --white: #FFFFFF;
    --background: #1B1B87;
    --grey: #9f9fa9;
    --dark: #00113B;
}



.btn {
    border: none;
    border-radius: 16px;
    background-color: var(--purple);
    color: white;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 50px;
}

.btn-block {
    width: auto;
}

.btn-purple {
    background-color: var(--purple);
}

.btn-dark {
    background-color: var(--dark);
}

.button-text {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

