:root {
    --black: #111029;
    --purple: #4c40f7;
    --green: #a4d677;
    --yellow: #f8d457;
    --pink: #ffbdbd;
    --blue: #7894ff;
    --white: #ffffff;
    --background: #1b1b87;
    --grey: #9f9fa9;
    --dark: #00113b;
}

.btn {
    border: none;
    border-radius: 16px;
    background-color: var(--purple);
    color: white;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 50px;
}

@media screen and (max-width: 768px) {
    .btn {
        width: auto;
        justify-content: center;
    }
}

.btn-block {
    width: auto;
}

.btn-purple {
    background-color: var(--purple);
}

.btn-dark {
    background-color: var(--dark);
}

.button-text {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
